.ad {
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
}

.imgContainer {
    border: 1px solid #000;
}

.adImg {
    height: 250px;
    width: 250px;
    margin-bottom: -4px;
}